/* Universal */
/* ////////////////////////////////////////////////// */
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
/* Button style */
/* ///////////////////////////////////////////////// */
/* ///////////////////////////////////////////////// */
.btn-p{

    height: 40px;
    width: 40px;
    padding: 13px;
    border-radius: 50%;
    color: #1c1c25;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    position: relative;
    z-index: 1;
    transition: .4s;
}

.btn-p::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border:  2px solid #1c1c25;
    border-radius: 50%;
    z-index: 1;
    transition: .4s;
}
.btn-p::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5px;
    left: 5px;
    background: #ff9084;
    border-radius: 50%;
    z-index: -1;
    transition: .4s;
}

.btn-p:hover{
    color: #fff;
}
.btn-p:hover:after{
    top: 0;
    left: 0;
}

.btn-p:hover::before{
    border:  2px solid #ff9084;
}

/* //////////////////////////////////////// */
/* //////////////////////////////////////// */
.m-btn{
    border-radius: 30px;
    padding: 8px 18px;
    color: #42424c;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    z-index: 1;
    margin-left: 40px;
    transition: .4s;
}
.m-btn::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5px;
    left: 5px;
    background: #72dfe9;
    border-radius: 30px;
    z-index: -5;
    transition: .4s;
}
.m-btn::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #42424c ;
    border-radius: 30px;
    z-index: -5;
    transition: .4s;
    z-index: 1;
}
.m-btn:hover:after{
    border: 1px solid #72dfe9 ;
}

.m-btn:hover{
    color: #fff;
    border: 0px solid #72dfe9 ;
}
.m-btn:hover::before{
    top: 0;
    left: 0;
}
/* //////////////////////////////////////////// */



/* Header */
/* ///////////////////////////////////////////////// */
header{
    width: 100%;
    height: 65px;
    padding: 0 50px;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 10;
}
header.show {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}



header .logo{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: start;
}
header .logo h2{
    font-family: 'MuseoModerno', cursive ;
    font-size: 30px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    color: #1c1c25;
}

header .menu{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .menu ul{
    display: flex;
    padding: 0;
    margin: 0;
}
header .menu ul li span{
    color: #33358c;
    margin-left: -10px;
    margin-right: 10px;
    transition: all .4s;
}
header .menu ul li a{
    color: #33358c;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
    position: relative;
    transition: .4s;
}
header .menu ul li a::after{
    content: "";
    height: 10px;
    width: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #ffb5b5;
    border-radius: 50%;
    margin-left: -5px;
    transition: .4s;
    opacity: 0;

}
header .menu ul li a:hover{
    color: #ffb5b5;
}
header .menu ul li:hover span{
    color: #ffb5b5;
}
header .menu ul li a:hover:after{

    margin-left: -5px;
    opacity: 1;
    transform: translate(0, 15px);
}


header .shere{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: end;
}


/* ////////////////////// */
/* Dropdown */

header .menu ul li{
    position: relative;
    transition: all .4s;
}
header .menu ul li ul{
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    width: 230px;
    border: 2px solid #1c1c24;
    background: #fff;
    border-radius: 15px;
    margin-top: 10px;
    padding: 10px 0;
    opacity: 0;
    transition: .4s;
    visibility: hidden;
    color: #1c1c24;
    transition: all .4s;
}
header .menu ul li ul li{
    margin: 5px 0;
    transition: all .4s;
}

header .menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    
}
header .menu ul li:hover > a{
    color: #ffb5b5;
}

header .menu ul li:hover ul.drop{}
header .menu ul li:hover ul.drop li{}


header .menu ul li:hover ul.drop li a{
    position: relative;
    transition: all .4s;
    color: #1c1c24;
}
header .menu ul li:hover ul.drop li a:hover{
    position: relative;
    left: 20px;
    color: #ffb5b5;
    transition: all .4s;
}
header .menu ul li:hover ul.drop li a::after{
    content: "";
    height: 10px;
    width: 10px;
    position: absolute;
    top: 40%;
    left: 0%;
    background: #ffb5b5;
    border-radius: 50%;
    margin-left: 0px;
    transition: .4s;
    opacity: 0;
}
header .menu ul li ul.drop li:hover a::after{

    margin-left: 0px;
    opacity: 1;
    transform: translate(5px, 0px);
}

/* /////////////////////////////////////////////// */

/* Hero */
/* ////////////////////////////////////////////// */
.hero{
    width: 100%;
    height: 92vh;
    background: #fff;
}
.hero .l-item{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.hero .l-item h6{
    color: #33358c;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
}
.hero .l-item h1{
    font-family: 'MuseoModerno', cursive;
    font-size: 72px;
    font-weight: 800;
    color: #333333;
    margin: 20px 0;
    line-height: 78px;
}
.hero .l-item p{
    font-family: 'Jost', sans-serif;
    color: #616161;
    font-size: 20px;
    margin-bottom: 20px;
}
.hero .l-item .hero-btn{
    font-size: 16px;
}
.hero .l-item .hero-btn{
    border-radius: 30px;
    padding: 8px 18px;
    color: #42424c;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    z-index: 1;
    transition: .4s;
}
.hero .l-item .hero-btn::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5px;
    left: 5px;
    background: #ff9084;
    border-radius: 30px;
    z-index: -5;
    transition: .4s;
}
.hero .l-item .hero-btn::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #42424c ;
    border-radius: 30px;
    z-index: -5;
    transition: .4s;
    z-index: 1;
}
.hero .l-item .hero-btn:hover:after{
    border: 1px solid #ff9084 ;
}
.hero .l-item .hero-btn:hover{
    color: #fff;
    border: 0px solid #ff9084 ;
}
.hero .l-item .hero-btn:hover::before{
    top: 0;
    left: 0;
}
.hero .r-item{
    height: 100%;
    width: 100%;

}
.hero .r-item .im{
    height:92vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.hero .r-item .im img{
    width: 400px;
    height: auto;
    border-radius: 8px;
   
}
/* ///////////////////////////////////////////////// */

/* Our */
/* ///////////////////////////////////////////////////// */
.our{
    width: 100%;
    height: auto;
    background: #1c1c25;
    padding: 30px 0 100px 0;
}
.our .sec-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0 0 0;
}
.our .sec-name a{
    background: #a8aaf1;
    color: #fafafa;
    padding: 2px 15px;
    border-radius: 8px;
}
.our .sec-name h2{
    font-family: 'MuseoModerno', cursive;
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    margin: 20px 0;
}
.our .sec-name p{
   color: #bbbbbb;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    text-align: center;


}
/* ///////////////// */

.our .o-item{
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}
.our .o-item .item{
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    transition: .4s;
}
.our .o-item .item:hover{
    background-color: #42424c;
}
.our .o-item .ic {
    color: #ffb5b5;
    font-size: 50px;
    text-align: center;
    padding: 0px 0px 20px 0px;
}
.our .o-item .ic2 {
    color: #72dfe9;
    font-size: 50px;
    text-align: center;
    padding: 0px 0px 20px 0px;
}
.our .o-item .ic3 {
    color: #a7aaf1;
    font-size: 50px;
    text-align: center;
    padding: 0px 0px 20px 0px;
    transform: rotate(-90deg) translate(10px, 0);
} 
.our .o-item h3{
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    padding: 5px 0 10px 0;

}
.our .o-item p{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #bbbbbb;
}
.our .o-item .item .ll {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    cursor: pointer;
}


.our .o-item .item .ll .lc{
    color: #fff;
    font-size: 12px;
    height: 15px;
    width: 15px;
    padding: 10px;
    border-radius:5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    transition: .4s;
    margin-right: 8px;
}

.our .o-item .item .ll .lc::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border:  1px solid #ffffff;
    border-radius: 5px;
    z-index: 1;
    transition: .4s;
}
.our .o-item .item .ll .lc::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 3px;
    left: 3px;
    background: #ff9084;
    border-radius: 5px;
    z-index: -1;
    transition: .4s;
}

.our .o-item .item .ll .lc:hover{
    color: #fff;
}
.our .o-item .item .ll .lc:hover:after{
    top: 0;
    left: 0;
}

.our .o-item .item .ll .lc:hover::before{
    border:  2px solid #ff9084;
}





.our .o-item .item .ll .lc2{
    color: #fff;
    font-size: 12px;
    height: 15px;
    width: 15px;
    padding: 10px;
    border-radius:5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    transition: .4s;
    margin-right: 8px;
}

.our .o-item .item .ll .lc2::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border:  1px solid #ffffff;
    border-radius: 5px;
    z-index: 1;
    transition: .4s;
}
.our .o-item .item .ll .lc2::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 3px;
    left: 3px;
    background: #72dee8;
    border-radius: 5px;
    z-index: -1;
    transition: .4s;
}

.our .o-item .item .ll .lc2:hover{
    color: #fff;
}
.our .o-item .item .ll .lc2:hover:after{
    top: 0;
    left: 0;
}

.our .o-item .item .ll .lc2:hover::before{
    border:  2px solid #72dee8;
}





.our .o-item .item .ll .lc3{
    color: #fff;
    font-size: 12px;
    height: 15px;
    width: 15px;
    padding: 10px;
    border-radius:5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    transition: .4s;
    margin-right: 8px;
}

.our .o-item .item .ll .lc3::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border:  1px solid #ffffff;
    border-radius: 5px;
    z-index: 1;
    transition: .4s;
}
.our .o-item .item .ll .lc3::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 3px;
    left: 3px;
    background: #a6aaf0;
    border-radius: 5px;
    z-index: -1;
    transition: .4s;
}

.our .o-item .item .ll .lc3:hover{
    color: #fff;
}
.our .o-item .item .ll .lc3:hover:after{
    top: 0;
    left: 0;
}

.our .o-item .item .ll .lc3:hover::before{
    border:  2px solid #a6aaf0;
}


/* 
.our .o-item .item .ll:hover .lc{
    color: #fff;
    font-size: 12px;
    height: 15px;
    width: 15px;
    padding: 10px;
    border-radius:5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    transition: .4s;
    margin-right: 8px;
}

.our .o-item .item .ll:hover .lc::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border:  1px solid #ffffff;
    border-radius: 5px;
    z-index: 1;
    transition: .4s;
}
.our .o-item .item .ll:hover .lc::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 3px;
    left: 3px;
    background: #ff9084;
    border-radius: 5px;
    z-index: -1;
    transition: .4s;
} */





.our .o-item .item .ll div h4{
    cursor: pointer;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: #fff;

}
/* ///////// */
/* our fot */
.our-fot{
    width: 100%;
    height: auto;
    background: #1c1c25;
    padding: 20px 0 80px 0;
}
.our-fot h2{
    font-family: 'MuseoModerno', cursive;
    color: #fff;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 20px;
}
.our-fot p{
    font-family: 'Jost', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
}
.our-fot .bbtn{
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.our-fot .bbtn .fo-btn{
    border-radius: 30px;
    padding:10px 22px;
    color: #ffffff;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    z-index: 1;
    margin-left: 40px;
    transition: all .4s;
}
.our-fot .bbtn .fo-btn::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5px;
    left: 5px;
    background: #ff9084;
    border-radius: 30px;
    z-index: -5;
    transition: all .4s;
}
.our-fot .bbtn .fo-btn::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #ffffff ;
    border-radius: 30px;
    z-index: -5;
    transition: all .4s;
    z-index: 1;
}
.our-fot .bbtn .fo-btn:hover:after{
    border: 1px solid #ff9084 ;
}

.our-fot .bbtn .fo-btn:hover{
    color: #fff;
    border: 0px solid #ff9084 ;
}
.our-fot .bbtn .fo-btn:hover::before{
    top: 0;
    left: 0;
}





/* /////////////////////////////////////////////////////// */
/* Service */
.service{
    margin-bottom: 80px;
    height: 110vh;
    width: 100%;
}
.service .name{
    margin-top: 80px;
}
.service .name a{
    background: #e7e7fb;
    color: #777ad6;
    padding: 2px 15px;
    border-radius: 8px;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}
.service .name h2{
    font-family: 'MuseoModerno', cursive;
    color: #fff;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 20px;
    color: #42424c;
    padding: 20px 0;
    margin: 0;

}
.service .name p{
    font-family: 'Jost', sans-serif;
    color: #616161;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    padding-bottom: 30px;
}
/* .//////// */
.service .s-item{
 
}
.service .s-item .s-icon{
 color: #ff9084;
 font-size: 50px;
 transition: all .4s;
}
.service .s-item h3{
    color: #42424c;
    transition: all .4s;
}
.service .s-item p{
    color: #616161;
    transition: all .4s;
}

.service .s-item .col-md-4{
    border: 1px solid #efefef;
    padding: 0;
    padding: 20px;
    border-collapse: collapse;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.service .s-item .col-md-4::after{
    content: "\f061";
    font-family: "Font Awesome 6 Free";
    font-weight: 800;
    position: absolute;
    top: 10px;
    right: 15px;
    transform: rotate(-45deg) ;
    font-size: 20px;
    color:#c8c8c8 ;
    transition: all .4s;
}
.service .s-item .col-md-4:hover:after{
  transform: rotate(315deg);
}
.service .s-item .col-md-4::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #42424c;
    z-index: -1;
    opacity: 0;
    transition: all .4s;
    cursor: pointer;
}
.service .s-item .col-md-4:hover:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #42424c;
    z-index: -1;
    opacity: 1;
    cursor: pointer;
}
.service .s-item .col-md-4:hover .s-icon{
    color: #fff;
}
.service .s-item .col-md-4:hover h3{
    color: #fff;
}
.service .s-item .col-md-4:hover p{
    color: #fff;
}
.service .s-item .item{
    
}
.service .s-item .item .s-icon{
    font-size: 66px;
}
.service .s-item .item .s-con{}
.service .s-item .item .s-con h3{
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 800;
    padding: 10px 0;
}
.service .s-item .item .s-con p{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
} 
/* ////////////////////////////////////////////// */
/* Feature */
.feature{
    padding: 0 20px;
    height: 100vh;
    width: 100%;
    color: #bbbbbb;
}
.feature .f-im{
    background-image: url(./img/01.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    height: 550px;
    width: 100%;
    margin-bottom: 50px;
} 
.feature .f-con{
    background: #1c1c25;
    height: 550px;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
}
.feature .f-con a{
    background: #a8aaf1;
    color: #fafafa;
    padding: 2px 15px;
    border-radius: 8px;
}
.feature .f-con h3{
    font-family: MuseoModerno, cursive;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 10px;
    padding: 10px 0;
}
.feature .f-con p{
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #bbbbbb;
}
.feature  .col-6{
    display: flex;
    margin-top: 20px;
}
.feature  .col-6 span{
    color: #ff9084;
    font-size: 25px;
    padding-right: 15px;
}
.feature  .col-6 h4{
    font-family: MuseoModerno, cursive;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 25px;
    transition: all .4s;
    cursor: default;
}
.feature  .col-6 h4:hover{
    color: #ff9084;

}
.feature  .col-6 p{
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #bbbbbb;

}
/* ///////////////////////////////////////////////// */
/* ///////////////////////////////////////////////// */
/* ///////////////////////////////////////////////// */
/* Tab */
.tab-tt{
    height: 80vh;
    width: 100%;
}
.tab-tt .col-md-7{
   display: flex;
   flex-direction: column;
}
.tab-tt .col-md-7 .ll{
   
}
.tab-tt .col-md-7 .ll .lc{
    color:  #1c1c24;
    font-size: 12px;
    height: 15px;
    width: 15px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    transition: .4s;
    margin-right: 8px;
    margin-left: 10;
    cursor: pointer;
}
.tab-tt .col-md-7 .ll .lc::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10px;
    left: 10px;
    background: #a6aaf0;
    border-radius: 5px;
    z-index: -1;
    transition: .4s;

}
.tab-tt .col-md-7 .ll .lc:hover:after{
    top: 5px;
    left: 5px;

}
.tab-tt .col-md-7 .ll .lc::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 6px;
    left: 6px;
    border: 1px solid #1c1c24;
    border-radius: 5px;
    z-index: 1;
    transition: .4s;
}

.tab-tt .col-md-7 .ll h4{
    cursor: pointer;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: #1c1c25;
}


label{
    cursor: pointer;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #1c1c25;
}











.tab-tt .t-nam a{
    background: #e7e7fb;
    color: #777ad6;
    padding: 2px 15px;
    border-radius: 8px;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}
.tab-tt .t-nam h3{
    font-family: MuseoModerno, cursive;
    font-weight: 700;
    font-size: 48px;
    color: rgb(66, 66, 76);
    padding: 20px 0px;
    margin: 0px;
}


.tab-tt .t-img{
    background-image: url(./img/02.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 80vh;
    border-radius: 10px;
}










/* Main TAb */

.p-dot{
    height: 220px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background: #fff;
    border-bottom: 2px solid #72dee8 ;
    color: #1c1c24;
    border-radius: 0;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0 10px;
}
.nav-pills .nav-link{
    background: #fff;
    color: #848174;
    border-bottom: 2px solid rgba(221, 221, 221, 0.267) ;
    border-radius: 0;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0 10px;
}


.main-tab p{
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    color: #1c1c24;
    font-size: 16px;
    padding-right: 200px;

}


/* 
.tab-wrap {
    width: 60%;
    list-style: none;
    text-align: left;
    padding: 0;
     margin: 0 0 0 50px; 
    position: relative;
} 

.tab-wrap input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.tab-wrap li {
    float: left;
    display: block;
}

.tab-wrap label {

    color: inherit;
    text-decoration: none;
    display: inline-block;
    border-radius:3px 3px 0 0;
    margin: 0 10px 0 0px;
    padding: 1em 1.5em;
    cursor: pointer;
 
}




.tab-wrap .tab-content {
   
    width: 100%;
    border-radius:0 3px 3px 3px;
    position: absolute;
    top: 50px;
    left: 0;
    padding: 20px;
    display: none;
}

.tab-wrap [id^="tab"]:checked + label {
    background: #fff;
    border-bottom: 2px solid #72dee8;
}

.tab-wrap [id^="tab"]:checked ~ .tab-content{
    display: block;
} */









/* Pricing */
/* ////////////////////////////////////////////////////// */






.pricing{
    width: 100%;
    height: 95vh;
    margin-top: 100px;
}
.pricing .p-name{}
.pricing .p-name h2{
    font-family: MuseoModerno, cursive;
    font-weight: 700;
    font-size: 48px;
    color: rgb(66, 66, 76);
    padding: 20px 0px;
    margin: 0px;
}
.pricing .p-itm{
    border: 1px solid #bbbbbb48;
    border-radius: 10px;
}
.pricing .p-itm2{
    border: 1px solid #bbbbbb48;
    border-radius: 10px;
    background-color: #1c1c24;
}
.pricing .p-itm3{
    border: 1px solid #bbbbbb48;
    border-radius: 10px;
}
/* ---------- */
.pricing .p-itm .ph{
    width: 100%;
    height: 250px;
    background-image: url(./img/b2.png);
    background-position: center center;
    background-size: 70%;
    background-repeat: no-repeat;
    padding: 20px;
    text-align: center;
    margin-top: 25px;
}
.pricing .p-itm2 .ph{
    width: 100%;
    height: 250px;
    background-image: url(./img/b1.png);
    background-position: center center;
    background-size: 70%;
    background-repeat: no-repeat;
    padding: 20px;
    text-align: center;
    margin-top: 25px;
}
.pricing .p-itm3 .ph{
    width: 100%;
    height: 250px;
    background-image: url(./img/b2.png);
    background-position: center center;
    background-size: 70%;
    background-repeat: no-repeat;
    padding: 20px;
    text-align: center;
    margin-top: 25px;
}
/* ------------------ */
.pricing .p-itm .ph h3{
    color: #000;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding-top: 25px;
}
.pricing .p-itm .ph h2{
    font-family: MuseoModerno, cursive;
    font-weight: 700;
    font-size: 48px;
    color: rgb(0, 0, 0);
    padding: 5px 0px;
    margin: 0px;
}
.pricing .p-itm .ph h4{
    color: #000;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 20px;
}
/* /// */
.pricing .p-itm2 .ph h3{
    color: #fff;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding-top: 25px;
}
.pricing .p-itm2 .ph h2{
    font-family: MuseoModerno, cursive;
    font-weight: 700;
    font-size: 48px;
    color: rgb(255, 255, 255);
    padding: 5px 0px;
    margin: 0px;
}
.pricing .p-itm2 .ph h4{
    color: #fff;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 20px;
}
/* //// */
.pricing .p-itm3 .ph h3{
    color: #000;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding-top: 25px;
}
.pricing .p-itm3 .ph h2{
    font-family: MuseoModerno, cursive;
    font-weight: 700;
    font-size: 48px;
    color: rgb(0, 0, 0);
    padding: 5px 0px;
    margin: 0px;
}
.pricing .p-itm3 .ph h4{
    color: #000;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 20px;
}
/* ////////// */
.pricing .p-list{}
.pricing .p-list .itm{
    display: flex;
    justify-content: space-between;
    padding: 5px 30px;
}
.pricing .p-list .itm h3{
    /* display: inline-block; */
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 20px;
    

}
.pricing .p-list .itm span{
    color: #70c770;
}
.pricing .p-list2 .itm{
    display: flex;
    justify-content: space-between;
    padding: 5px 30px;
}
.pricing .p-list2 .itm h3{
    /* display: inline-block; */
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #fff;
    

}
.pricing .p-list2 .itm span{
    color: #70c770;
}
.pricing .p-list3 .itm{
    display: flex;
    justify-content: space-between;
    padding: 5px 30px;
}
.pricing .p-list3 .itm h3{
    /* display: inline-block; */
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 20px;
    

}
.pricing .p-list3 .itm span{
    color: #70c770;
}

/* ////// */
.pricing .p-btt{
    text-align: center;
    padding: 30px 0 40px 0;
}
.pricing .p-btt a{
    border-radius: 30px;
    padding: 8px 18px;
    color: #42424c;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    z-index: 1;
    transition: .4s;
}
.pricing .p-btt a::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5px;
    left: 5px;
    background: #ff9084;
    border-radius: 30px;
    z-index: -5;
    transition: .4s;
}
.pricing .p-btt a::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #42424c ;
    border-radius: 30px;
    z-index: -5;
    transition: .4s;
    z-index: 1;
}
.pricing .p-btt a:hover:after{
    border: 1px solid #ff9084 ;
}

.pricing .p-btt a:hover{
    color: #fff;
    border: 0px solid #ff9084 ;
}
.pricing .p-btt a:hover::before{
    top: 0;
    left: 0;
}
.pricing .p-btt2{
    text-align: center;
    padding: 30px 0 40px 0;
}
.pricing .p-btt2 a{
    border-radius: 30px;
    padding: 8px 18px;
    color: #42424c;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    z-index: 1;
    transition: .4s;
}
.pricing .p-btt2 a::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5px;
    left: 5px;
    background: #72dfe9;
    border-radius: 30px;
    z-index: -5;
    transition: .4s;
}
.pricing .p-btt2 a::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #42424c ;
    border-radius: 30px;
    z-index: -5;
    transition: .4s;
    z-index: 1;
}
.pricing .p-btt2 a:hover:after{
    border: 1px solid #72dfe9 ;
}

.pricing .p-btt2 a:hover{
    color: #fff;
    border: 0px solid #72dfe9 ;
}
.pricing .p-btt2 a:hover::before{
    top: 0;
    left: 0;
}
.pricing .p-btt3{
    text-align: center;
    padding: 30px 0 40px 0;
}
.pricing .p-btt3 a{
    border-radius: 30px;
    padding: 8px 18px;
    color: #42424c;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    z-index: 1;
    transition: .4s;
}
.pricing .p-btt3 a::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5px;
    left: 5px;
    background: #a7aaf1;
    border-radius: 30px;
    z-index: -5;
    transition: .4s;
}
.pricing .p-btt3 a::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #42424c ;
    border-radius: 30px;
    z-index: -5;
    transition: .4s;
    z-index: 1;
}
.pricing .p-btt3 a:hover:after{
    border: 1px solid #a7aaf1 ;
}
.pricing .p-btt3 a:hover{
    color: #fff;
    border: 0px solid #a7aaf1;
}
.pricing .p-btt3 a:hover::before{
    top: 0;
    left: 0;
}



/* Team */
/* ////////////////////////////////////////// */
/* ////////////////////////////////////////// */
.team{
    width: 100%;
    height: 100vh;
    padding: 30px 20px 100px 20px;
    margin-top: 80px;
}
.team .sec-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0 0 0;
}
.team .sec-name a{
    background: #e7e7fb;
    color: #777ad6;
    padding: 2px 15px;
    border-radius: 8px;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 60px;
}
.team .sec-name h2{
    font-family: 'MuseoModerno', cursive;
    color: #333333;
    font-size: 48px;
    font-weight: 700;
    margin: 20px 0;
}
.team .sec-name p{
   color: #616161;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;

}


.team .ff .com:nth-child(2n) {
    transform: translate(0px, 30px);
}



.team .com{
    text-align: center;
}
.team .com .im{
    width: 100%;

}
.team .com .im img{
    border-radius: 10px;
    position: relative;
    transition: all .4s;
    z-index: -1;
}



.team .eff{
    width: 100%;
    height: 100%;
    position: relative;
    transition: all .4s;
    cursor: pointer;
}
.team .eff::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:#a7a9f191;
    z-index: 1;
    border-radius: 10px;
    opacity: 0;
    transition: all .4s;
    z-index: -1;
    
}
.team .eff::before{
    content: "\f061";
    font-family: "Font Awesome 6 Free";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 900;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #1c1c24;
    z-index: 1;
    border-radius: 10px;
    opacity: 0;
    transition: all .4s;
    z-index: 2;
    
}
.team .eff:hover img{
    transform: translate(10px, 10px);
}
.team .eff:hover:after{
    transform: translate(10px, 10px);
    opacity: 1;
}
.team .eff:hover::before{
    opacity: 1;
}






.team .com h2{
    color: #42424c;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    margin-top: 20px;
}
.team .com h3{
    color: #616161;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
}

.team .socal{
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
    margin-top: 30px;
}


.team .socal .ab1{

    height: 40px;
    width: 40px;
    padding: 13px;
    border-radius: 50%;
    color: #1c1c25;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    transition: .4s;
}

.team .socal .ab1::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border:  2px solid #1c1c25;
    border-radius: 50%;
    z-index: 1;
    transition: .4s;
}
.team .socal .ab1::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5px;
    left: 5px;
    background:#a7aaf1 ;
    border-radius: 50%;
    z-index: -1;
    transition: .4s;
}

.team .socal .ab1:hover{
    color: #fff;
}
.team .socal .ab1:hover:after{
    top: 0;
    left: 0;
}

.team .socal .ab1:hover::before{
    border:  2px solid #a7aaf1;
}




.team .socal .ab2{

    height: 40px;
    width: 40px;
    padding: 13px;
    border-radius: 50%;
    color: #1c1c25;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    transition: .4s;
}

.team .socal .ab2::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border:  2px solid #1c1c25;
    border-radius: 50%;
    z-index: 1;
    transition: .4s;
}
.team .socal .ab2::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5px;
    left: 5px;
    background: #ff9084;
    border-radius: 50%;
    z-index: -1;
    transition: .4s;
}

.team .socal .ab2:hover{
    color: #fff;
}
.team .socal .ab2:hover:after{
    top: 0;
    left: 0;
}

.team .socal .ab2:hover::before{
    border:  2px solid #ff9084;
}





.team .socal .ab3{

    height: 40px;
    width: 40px;
    padding: 13px;
    border-radius: 50%;
    color: #1c1c25;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    transition: .4s;
}

.team .socal .ab3::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border:  2px solid #1c1c25;
    border-radius: 50%;
    z-index: 1;
    transition: .4s;
}
.team .socal .ab3::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5px;
    left: 5px;
    background: #73dfe9;
    border-radius: 50%;
    z-index: -1;
    transition: .4s;
}

.team .socal .ab3:hover{
    color: #fff;
}
.team .socal .ab3:hover:after{
    top: 0;
    left: 0;
}

.team .socal .ab3:hover::before{
    border:  2px solid #73dfe9;
}












.team .socal .ab2{}
.team .socal .ab3{}















/* Faq */
/* ///////////////////////////////////////////// */

.faq{
    width: 100%;
    height: auto;
    padding: 30px 20px 100px 20px;
    margin: 130px 0 60px 0;
}
.faq .sec-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0 0 0;
}
.faq .sec-name a{
    background: #e7e7fb;
    color: #777ad6;
    padding: 2px 15px;
    border-radius: 8px;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}
.faq .sec-name h2{
    font-family: 'MuseoModerno', cursive;
    color: #333333;
    font-size: 48px;
    font-weight: 700;
    margin: 20px 0;
}
.faq .sec-name p{
   color: #616161;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    text-align: center;


}



















/*  ////////////////////////*/
.acdn{
    height: auto;
    margin-top: 40px;
}

.accordion{
    width: 100%;
    background: #fff;
    height: auto;
}

.accordion-tab > .accordion-toggle{
    position: absolute;
    display: none;
}

.accordion-tab > label{
    color: #1c1c24;
    font-family: 'Jost', sans-serif;
    padding: 18px;
    background: #f8f8f8;
    border-radius: 25px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    position: relative;
    display: block;
    cursor: pointer;
    margin: 8px 0;
    z-index: 9;

}
.accordion-tab > label h2{
    color: #1c1c24;
    font-family: 'Jost', sans-serif;
    background: #f8f8f8;
    border-radius: 25px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    position: relative;
    display: block;
    cursor: pointer;
    z-index: 9;

}
.accordion-tab > label:after {
    z-index: 10;
}



.accordion-tab > .accordion-content{
    max-height: 0;
    transition: all .40s;
    overflow: hidden;
    color: #1c1c24;
    font-family: 'Jost', sans-serif;

}

.accordion-tab > label:after {
    content: '\f078';
    position: absolute;
    top: 13px;
    right: 20px;
    font-family: fontawesome;
    transform: rotate(90deg);
    transition:transform .30s ;
}

.accordion-tab > .accordion-toggle:checked ~ label:after{
    transform: rotate(0deg);
}

.accordion-tab > .accordion-toggle:checked ~ .accordion-content{
    max-height: 100vh;
}

.accordion-tab > .accordion-content p {
    margin: 15px 0;
    padding: 0 20px;
    font-size: 15px;
    line-height: 1.5;
}
/* /////////////////////// */




















/* ////////////////////////////////////////// */
/* Contact */
.contact{}
.contact .nam{}
.contact .nam h2{
    font-family: MuseoModerno, cursive;
    font-weight: 700;
    font-size: 48px;
    color: rgb(66, 66, 76);
    padding: 20px 0px;
    margin: 0px;
}


.contact .frm{
    margin-bottom: 150px;
}

.contact .frm .frm-c{
    margin-bottom: 20px;
    border-radius: 25px;
    padding: 15px 25px;
    background-color: #f8f8f8;
    outline: none;
    border: none;
    color: #616161;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
}
.contact .frm .frm-t{
    margin-bottom: 40px;
    border-radius: 25px;
    padding: 10px 25px;
    padding-top: 20px;
    background-color: #f8f8f8;
    outline: none;
    border: none;
    color: #616161;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    
}
.contact .frm .frm-c:focus{ 
    outline: none;
    border: none;
    box-shadow: none;
}
.contact .frm .frm-t{
    outline: none;
    border: none;
    box-shadow: none;
    
}

/* fbtn */


.m-btnx{
    border-radius: 30px;
    padding: 12px 26px;
    color: #42424c;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    z-index: 1;
    transition: .4s;
}
.m-btnx::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5px;
    left: 5px;
    background: #ff9084;
    border-radius: 30px;
    z-index: -5;
    transition: .4s;
}
.m-btnx::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #42424c ;
    border-radius: 30px;
    z-index: -5;
    transition: .4s;
    z-index: 1;
}
.m-btnx:hover:after{
    border: 1px solid #ff9084 ;
}

.m-btnx:hover{
    color: #fff;
    border: 0px solid #ff9084 ;
}
.m-btnx:hover::before{
    top: 0;
    left: 0;
}








/* ///////////////////////////////////////// */
/* g-map */
.g-map{
    width: 100%;
    height: 60vh;
    padding: 0;
    margin: 0;
}
.container-fluid{
    padding: 0;
    margin: 0;
}
.map{
    width: 100%;
    height: 60vh;
    padding: 0;
    margin: 0;
}

/* //////////////////////////////////// */
footer{
    width: 100%;
    height: 85vh;
    background: #1c1c25;
    padding: 100px 0;
    text-align: center;
}
footer .fdd{
    display: flex;
}
footer h2{
    color: #fff;
    font-family: 'MuseoModerno', cursive ;
    font-size: 30px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
}


 .fo-i a.k{
    height: 60px;
    width: 60px;
    padding: 13px;
    border-radius: 50%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    position: relative;
    z-index: 1;
    transition: .4s;
    font-size: 25px;
}

.fo-i a.k::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border:  2px solid #ffffff;
    border-radius: 50%;
    z-index: 1;
    transition: .4s;
}
.fo-i a.k::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5px;
    left: 5px;
    background: #a7a9f1;
    border-radius: 50%;
    z-index: -1;
    transition: .4s;
}

 .fo-i a.k:hover{
    color: #fff;
}
.fo-i a.k:hover:after{
    top: 0;
    left: 0;
}

.fo-i a.k:hover::before{
    border:  2px solid #a7a9f1;
}

.fo-i a.k1{
    height: 60px;
    width: 60px;
    padding: 13px;
    border-radius: 50%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    position: relative;
    z-index: 1;
    transition: .4s;
    font-size: 25px;
}

.fo-i a.k1::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border:  2px solid #ffffff;
    border-radius: 50%;
    z-index: 1;
    transition: .4s;
}
.fo-i a.k1::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5px;
    left: 5px;
    background: #ff9084;
    border-radius: 50%;
    z-index: -1;
    transition: .4s;
}

 .fo-i a.k1:hover{
    color: #fff;
}
.fo-i a.k1:hover:after{
    top: 0;
    left: 0;
}

.fo-i a.k1:hover::before{
    border:  2px solid #ff9084;
}



.fo-i a.k2{
    height: 60px;
    width: 60px;
    padding: 13px;
    border-radius: 50%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    position: relative;
    z-index: 1;
    transition: .4s;
    font-size: 25px;
}

.fo-i a.k2::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border:  2px solid #ffffff;
    border-radius: 50%;
    z-index: 1;
    transition: .4s;
}
.fo-i a.k2::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5px;
    left: 5px;
    background: #73dfe9;
    border-radius: 50%;
    z-index: -1;
    transition: .4s;
}

 .fo-i a.k2:hover{
    color: #fff;
}
.fo-i a.k2:hover:after{
    top: 0;
    left: 0;
}

.fo-i a.k2:hover::before{
    border:  2px solid #73dfe9;
}



.fdd .fo-c h3{
    font-family: 'Jost', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 17px;
    transition: all .4s;
    cursor: default;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 10px;
}

.socail-icon{
    margin: 60px 0;
    cursor: default;
}
.socail-icon .acc{
    display: inline-block;
    border: 1px solid #bbbbbb;
    border-radius: 50%;
    padding: 5px;
    width: 35px;
    height: 35px;
    text-align: center;
    margin: 0 3px;
    color: #fff;
    transition: all .4s;
    cursor: pointer;
}
.socail-icon .acc:hover{
    display: inline-block;
    border: 1px solid #72dee8;
    background: #72dee8;
}
.socail-icon .acc a{
    color: #fff;
}
.foot-menu{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot-menu ul{
    display: flex;
    padding: 0;
    margin: 0;
}

.foot-menu ul li a{ 
    color: #ffffff;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
    position: relative;
    transition: .4s;
}

.foot-menu ul li a:hover{
    color: #ffb5b5;
}

.resarved{
    color: #bbbbbb;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}

/* /////////////////////////////////////////////// */
/* ///////////////////   END   /////////////////// */
/* /////////////////////////////////////////////// */